<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="InfocenterEntities" connectionString="metadata=res://*/InfoCenterModel.csdl|res://*/InfoCenterModel.ssdl|res://*/InfoCenterModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=D:\PersonalInfoForWPF\infocenter.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>